{{>head}}
<html lang="en">

<body>
  {{>head}}

  <h1>Delivery App</h1>
  <a href="">Create Account</a>

  <form action="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Sign in</button>
  </form>
  {{>footer}}
</body>

</html>